<div class="container-fluid">
  <%= button_to 'Back to Search', '/player', :method => 'get', :class => 'btn btn-primary' %>

  <div class="container-fluid">
    <div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= @url %>" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>