<button><%= link_to 'Back', '/player' %></button>

<div class="container-fluid">
  <div>
    <div>
      <iframe src="<%= @url %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</div>