<button><%= link_to 'Back', '/player' %></button>

<h3>Results:</h3>

<div>
  <div>
    <iframe src="<%= @url %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>