<!DOCTYPE html>
<html>
<head>
  <title>ShuffleBetter</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Shuffle Better</h1>
  <h2>Because Spotify's shuffle can be improved</h2>
  <%= yield %>
</body>
</html>
