<!DOCTYPE html>
<html>
  <head>
    <title>ShuffleBetter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Shuffle Better <small>Because Spotify's shuffle can be improved</small></h1>

    <hr>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer>Ellen Galperin 2016 - version 0.1</footer>
  </body>
</html>
